prune *
exclude *

# Core Package and Basic User Documentation
graft effmass
include README.md cli2.gif Tutorial.ipynb Castep_ASE_interface.ipynb
include LICENCE

# Development Files and Full Documentation
graft docs
graft tests
include .coveragerc .readthedocs.yaml .travis.yml
include CODE_OF_CONDUCT.md

# Project Metadata
include pyproject.toml setup.cfg MANIFEST.in
include codemeta.json
